/*
CoLor Code use in a Page.
Color of Footer Upper strip : #6D8BD3;
Color of Header and Footr ribbon : #252928;
Color Use in banner and heading inside body : #546591;

*/
/* Reset browser default css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of font */
/* end of browser reset css */
body {
	margin: 0 auto;
	padding: 0;
	line-height: 1.5em;
	font-family: "Open Sans","Segoe UI","Helvetica Neue", sans-serif;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'Open Sans', sans-serif;*/
	font-size: 12px;
	background: #ffffff;
	background-image:url(../images/whitebg.png);
	background-repeat:repeat-y;
}
a:link, a:visited { color: #000000; text-decoration: underline; font-weight: normal;} 
a:active, a:hover { color: #000000; text-decoration: none;}

p {
	margin: 0px;
	padding: 0px;
}
img {
	margin: 0px;
	padding: 0px;
	border: none;
}
.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_15 { clear: both; width: 100%; height: 15px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}
.margin_right_40 { margin-right: 40px; }
.margin_right_70 { margin-right: 70px; }
.fl { float: left; }
.fr { float: right }

.button_01 a{
	clear: both;
	display: block;
	width: 100px;
	height: 23px;
	padding-top: 5px;
	background: url(../images/id_button_01.png) no-repeat;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.classNoCopy
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.header_01 {
	clear: both;
	padding: 3px;
	margin-left:0px;
	margin-bottom: 5px;
	font-size: 26px;
	
	line-height: 20px;
	color: #000000;
}
.header_01Index {
	clear: both;
	padding-top: 3px;
	margin-left:0px;
	margin-bottom: 5px;
	font-size: 26px;
	
	line-height: 20px;	
	color: #000000;
}
.classDivHeadTxt a{
	color: #ffffff;
	text-decoration: none;
}
.header_02 {
	clear: both;
	line-height: 20px;	
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 15px;
	line-height:30px;
	font-size: 18px;
	color: #000000;
	text-align: center;
}
.header_024 {
	clear: both;
	padding-bottom: 20px;
	font-size: 15px;
	color: #000000;
}

.header_03 {
	clear: both;
	height: 35px;
	padding: 15px 0 0 20px;
	font-size: 20px;
	color: #000000;
	/*background-color: #D3D3D3;*/
}
.headerForAttemptedTestUser{
	clear: both;
	padding: 10px 10px 10px 20px;
	font-size: 16px;
	color: #000000;
	line-height: 20px;
	
}
.header_034 {
	clear: both;
	padding: 10px 10px 10px 20px;
	font-size: 20px;
	color: #000000;
	line-height: 25px;
	background-color: #eeeeee;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(left, #D3D3D3 0%, #8AA7F0 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #D3D3D3 0%, #8AA7F0 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(left, #D3D3D3 0%, #8AA7F0 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #D3D3D3), color-stop(1, #8AA7F0));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #D3D3D3 0%, #8AA7F0 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to right, #D3D3D3 0%, #8AA7F0 100%);

}
.header_054{
	clear: both;
	min-height: 25px;
	padding: 10px 0 0 20px;
	font-size: 20px;
	color: #000000;

}
.header_0345 {
	clear: both;
	height: 12px;
	padding: 13px 0px 12px 25px;
	font-size: 19px;
	font-weight: bold;
	color: #000000;
	vertical-align: middle;
}
.classHeadLogoInner{
	margin-top: 5px;
	
}
.header_04 {
	clear: both;
	font-size: 12px;
	
}
.header_044 {
	clear: both;
	font-size: 15px;
	font-weight: ;
	color: #FFFFFF;
}
.header_044 a {
	color: #FFFFFF;
}
.header_04 a{
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.header_05 {
	clear: both;
	font-size: 14px;
	color: #000000;
	width: 128px;
	height: 24px;
	padding: 3px 0 0 20px;
	margin-bottom: 5px;
}
#id_header_wrapper {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	background-color: #ffffff;
	position:fixed;
	top:0px;
	z-index:2000;
}
#id_header_wrapperIndex {
	width: 100%;
	height: 75px;
	margin: 0 auto;
	background-color: #ffffff;
	position:fixed;
	color: #000000;
	top:0px;
	z-index:2000;
}
#id_header {
	width: 980px;
	margin: 0 auto;
}
#id_header #site_logo {
	float: left;
	width: 300px;
	
	font-size: 40px;
	color: #ffffff;
}
.classDivHeadTxt{
	margin-top:4px;
	width: 500px;
}
.classDivHeadTxtInner{
	margin-top:0px;
	width: 500px;
}
/* menu */
#id_menu {
	position: relative;
	float: right;
	margin-top:-82px;
	/*margin-right:70px;*/
	margin-left:400px;
}

#id_menu {

}
#id_menu_left{
	width:100%;
	top: 0px;
	margin-top:10px;
	margin-left:50px;
}
.classDivUserNameTop{
	float:left;
}
.classDivPassTop{
	float:left;
	margin-left:10px;
	position:relative;
}
.classDivSubmitTop{
	float:left;
	margin-left:10px;
	position:relative;
	margin-top: 22px;
}
.classDivTopMenuUser{
	margin-right:-200px;
	margin-left: 700px;
	margin-top: 58px;
	height:25px;
	width:550px;
	text-align:center;

}
#idDivChangePasswordSubmit{
	margin-left: 310px;
	margin-right: 0 auto;
}
.classSpanTopMenu{
	margin-top:3px;
}
/* end of menu*/
/* end of header */
#id_banner_wrapper {
	clear: both;
	
	margin-top: 60px;
	
}
#id_banner_wrapperHome {
	clear: both;
	width: 95%;
	height: 50px;
	margin: 0 auto;
	background-color: #eeeeee;
	margin-top: 60px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #C0C0C0;	
	color: #000000;
}
.classHorizHRSubHead{
	height: 2px;
	background-image: linear-gradient(to bottom, rgb(251, 180, 80), rgb(248, 148, 6));
	background-repeat: repeat-x;
	background-color: rgb(248, 148, 6);
}
.gradient_background{
	/* IE10 Consumer Preview 
	background-image: -ms-linear-gradient(left, #D3D3D3 0%, #8AA7F0 100%);

	background-image: -moz-linear-gradient(left, #D3D3D3 0%, #8AA7F0 100%);

	background-image: -o-linear-gradient(left, #D3D3D3 0%, #8AA7F0 100%);

	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #D3D3D3), color-stop(1, #8AA7F0));

	background-image: -webkit-linear-gradient(left, #D3D3D3 0%, #8AA7F0 100%);

	background-image: linear-gradient(to right, #D3D3D3 0%, #8AA7F0 100%);*/
}
	/* css code for gradient background */
.radial-center {
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #FF4124 0%, #110E73 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #FF4124 0%, #110E73 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #FF4124 0%, #110E73 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FF4124), color-stop(1, #110E73));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #FF4124 0%, #110E73 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #FF4124 0%, #110E73 100%);
}
/* end of gradient background */
.classDivHorizBar{
	height: 3px;
	width: 100%;
	background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 68, 204));
	background-repeat: repeat-x;
	background-color: rgb(0, 68, 204);
	position: fixed;
	margin-top: 60px;
}
.classDivHorizBarIndex{
	height: 3px;
	width: 100%;
	background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 68, 204));
	background-repeat: repeat-x;
	background-color: rgb(0, 68, 204);
	position: fixed;
	margin-top: 75px;
}
#id_banner_wrapperIndex {
	clear: both;
	width: 95%;
	height: 50px;
	margin: 0 auto;
	background-color: #eeeeee;
	color: #000000;
	margin-top: 77px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #C0C0C0;
}
#id_banner {
	width: 900px;
	margin: 0 auto;
	padding: 15px 5px 0 15px;
	background:url(../images/) bottom no-repeat;
}
#id_banner #id_banner_image {
	float: left;
	width: 100%;	
}
#id_banner_content {
	text-align: left;	
}
#id_banner_content p {
	color: #b2b6bf;
	font-size: 20px;
	line-height: 15px;
	margin-bottom: 0px;
}
.classDivEditTest{
		margin-top: -11px;
}
/* content */
.classOpLeft
{
	float: left;
	margin:10px;
}
.classOpRight
{
	float: right;
	margin: 10px;
}
#idDivResultHead{	
	width:90%;	
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	margin-top:20px;
}
#id_content_wrapper {
	clear: both;
	width: 1200px;
	margin: 0 auto;
	background: #ffffff;
}
#id_content {
	width: 1200px;
	padding: 10px 10px;
	background: #ffffff;
}
#column_w530 {
	float: left;
	width: 430px;
	line-height: 10px;
	margin-left: 100px;
	height:430px;
	background: url(../images/questions.jpg);
    opacity: 0.2;
    z-index: -1;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.classDivMiddleBody{
	float: right;
	width: 100%;
	line-height: 10px;
	min-height:650px;
	background-color:#ffffff;
	margin:5px 10px 60px 20px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #C0C0C0;
	padding-bottom:20px;
	background-color: rgb(255, 255, 250);
    color: rgb(55, 64, 78);
    box-shadow: 0px 0px 5px 2px rgb(209, 214, 186);
}
.classDivMiddleBodyLogout{
	float: right;
	width: 100%;
	line-height: 10px;
	min-height:300px;
	background-color:#ffffff;
	margin:5px 10px 60px 20px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #C0C0C0;
	padding-bottom:20px;
	background-color: rgb(255, 255, 250);
    color: rgb(55, 64, 78);
    box-shadow: 0px 0px 5px 2px rgb(209, 214, 186);
}
.classSpanHeadImageLogo{
	display: inline-table;
	vertical-align: middle;
}
.classSpaCureersPortal{
	font-family: inherit;
	color: #000000;
	vertical-align: -15px;
}
#idDivOverTransperent{
	float:left;
	position:relative;
	margin-top:-430px;
	margin-left: 80px;
	margin-right: 1550px;
	width:430px;
}
#column_w300 {
	float: right;
	width: 428px;
	background: #efefef;
	border: 1px solid #e5e5e5;
	margin-top:20px;
	margin-right: 100px;
	margin-left: 100px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 70px;
    background-color: rgb(255, 255, 250);
    color: rgb(55, 64, 78);
    box-shadow: 0px 0px 5px 2px rgb(209, 214, 186);
}
#idDivSignUp{
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}
.classSpanSignUpInfo{
	display:inline-table;
	width:150px;
	height:30px;
	vertical-align:;
}
.classSpanSignUpInput{
	width:150px;
	vertical-align:middle;
	height:30px;
}
.class_login_txt{
	width:200px;
	height:25px;
	padding: 3px;
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.class_login_txtGrph{
	width:170px;
}

.classContactNoUpProf{
	width: 218px;
}
.classUserName{
	width: 150px;
	border: 1px solid #C0C0C0;
}
#column_w530 .em_text {
	color: #000;
}

#column_w530 p {
	margin-bottom: 15px;
}
.classColumn_01 {
	clear: both;
	padding: 20px 19px;
}
.classButton {				/* css code for all butten */
	font-size: 20px;
	color: #ffffff;
	padding: 1px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	text-shadow: 1px 1px 3px #666666;
	border: solid #000000 1px;
	background-color: #546591;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
} 
.classButton:hover{
	Color:#000000;
	cursor:pointer;
}
.classSignUpButtenSize{
	width:150px;
	height:35px;
}
.classAddTestButtonSize{
	min-width:100px;
	height:30px;
	margin-left:40px;
}
.classSubmitTop{
	width:30px;
	height:25px;
	color: #ffffff;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	text-shadow: 1px 1px 3px #666666;
	border: solid #000000 1px;
	background-color: #546591;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	margin-top:17px;
}
.class_Div_SubmitSignUp{
	margin-left:100px;
	margin-right:100px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.classSpanTabText{
	margin-left:50px;
	display:inline-table;
	width:150px;
	line-height:15px;
}
.classDivTabForDescrAns{
	margin-left:40px;
}
.classDivAddTest{
	margin-left:10px;
	margin-right:10px;
	z-index: 1;
}
.classTADis{
	width:300px;
}
.classSpanTotalTime {
	margin-left:70px;
	margin-right:10px;
	display:inline-table;
}
.classSpanTotalQue{
	margin-left:70px;
	margin-right: 5px;
	display:inline-table;
}
.classDivRight{
	margin-left:700px;
	margin-right:30px;
	margin-top:15px;
}
.classDivTime{
	z-index:20010;
}
#idDivToDisplayTime{
	font-weight:bold;
	margin-top:20px;
	margin-left:800px;
	margin-right:50px;
	position: fixed;
}
.classDivDisplayPendingResult{
	margin : auto ;
	margin-top:50px;
	width:80%;
	height:200px;
	margin-left:50px;
	margin-right:50px;
	padding:50px;
	font-size:30px;
	line-height: 30px;
}
.classDivDisplyAttemptMsg{
	margin-left:50px;
	margin-top:50px;
	font-size:25px;
	font-weight:bold;
}
#idDivDispAllTest{
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
}
.classDivUploadCV{
	width:700px;
	margin-left:200px;
	margin-right: 200px;
	min-height: 300px;
}
.classDivResumeText{
	text-align: center;
	line-height: 20px;
	width: 600px;
}
.classWarningMsg{
	color:#FF0000;
	margin: 0 auto;
}
.classForTable, td {	/* css code for datatable design */
	align:middle;
	line-height: 15px;
	vertical-align: middle;
	font-size: 16px;
}
.classForTable, th{
	align:middle;
	line-height: 15px;
	vertical-align: middle;
	font-size: 16px;
}
.classDivBodyFormat{
	font-size: 16px;
	line-height: 10px;
	vertical-align: middle;
	color: black;

}
.classQuestionTab, td{
	line-height: 20px;
	vertical-align: middle;
	font-size: 16px;
}
.classDivAddQuestionOnly{
	padding-left: 50px;
	margin-top: 30px;
	position: absolute;
	min-width: 500px;
	padding-bottom: 30px;	
}
.classDivAddQuestion{
	padding-left: 100px;
	margin-top: 30px;
	position: absolute;
	min-width: 500px;
	padding-bottom: 30px;	
	line-height: 25px;
}
.classInputBackColor{
	width: 250px;
	
}
.classFont{
	font-size: 20px;
}
.classSignUpResponceText{
	margin-left: 100px;
	margin-right: 350px;
	margin-top: 70px;
	width:70%;
	height:200px;
	padding:50px;
	font-size:30px;
}
.classDivThanksSigner{
	padding: 20px;
	margin-left:0px;
	margin-bottom: 5px;
	font-size: 30px;
	font-weight:bold;
	line-height: 20px;	
	color: #000000;
}
.classDivTextInSignupResp{
	padding: 20px;
	margin-left:0px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight:bold;
	line-height: 25px;	
	color: #000000;
}
.classDivVarifymsg{
	margin-left: 400px;
	color:green;
	font-size: 16px;
}
.classDivReduceSpace{
	margin-top: -10px;
}
.classDivForInfo{
	margin-top:30px;
	margin-left: 20px;
}
.classDivUserNameAvailable{
	margin-left: 156px;
	margin-top: -15px;
	margin-bottom: 10px;
	padding-bottom: 0px;
}
.classDivUserNameAvailableProfile{
	margin-left: 0px;
	display: inline-table;
	padding-bottom: 0px;
}
.classTimertextarea{
	width: 400px;
	padding: 5px;
	max-height: 30px;
	background-color:#eeeeee;
	border :0px solid #ffffff;
	color:#000000;
	font-size: 20px;
	 box-shadow: 5px 3px 5px #111111, 5px 2px 5px #777777;
	 -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.classDivDisplayTime{
	margin-right: 50px;
	margin-left: 400px;
}
.classDisplayProfile{
	margin-left: 150px;
	font-size: 16px;
	line-height: 30px;
	width: 1000px;
}
.classChangePassword{
	margin-left: 150px;
	font-size: 16px;
}
.classDivAllotGPTS{
	margin-left: 60px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 30px;
}
.classTopMarginForChangePass{
	margin-top: 50px;
}
.classSpanUserInfoTxt{
	display:inline-table;
	width:200px;
	height:30px;
	vertical-align: middle;
}
.classSpanUserDetailInput{
	display:inline-table;
	width:300px;
	height:30px;
	vertical-align: middle;
}
.classUserDtInput{
	width: 250px;
	height: 20px;
	padding: 3px;
	
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classInputDescMarks{
	width: 50px;
	height: 20px;
	padding: 3px;
	
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classUserDtInputSelect{
	width: 263px;
	height: 30px;
	padding: 3px;
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classStudentDescAns{
	width: 650px;
	height: 130px;
	padding: 3px;
	
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
	resize : none;
}
.classInputRadioText{
	width: 180px;
	height: 25px;
	padding: 3px;
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classSpanUserAddress{
	width: 255px;
	height: 60px;
	padding: 3px;
	font-size: 16px;
	resize : none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classForDownloadLink{
	position: relative;
	margin-left: 550px;
	margin-right:50px;
	margin-top: -70px;
	padding-left: 30px; 
}
.classLeftPadForDownloadLink{
	padding-left: 300px;
}
.classSpanEDLogo{
	display: inline-table;
	vertical-align: middle;
	margin-left: 30px;
}
.classEditTestIcon{
	height: 40px;
	width: 40px;
}
.classSpanDlR{
	display: inline-table;
	vertical-align: middle;
}
.classForSendMail{
	display: inline-table;
	vertical-align: middle;
}
.classSpanDownloadButton{
	display: inline-table;
	vertical-align: middle;
}
.classMailLogo{
	width: 70px;
	height: 40px;
	cursor:pointer;
}
.classDownloadIcon{
	width: 110px;
	height: 40px;
}
.classDownloadResIcon{
	width: 75px;
	height: 45px;
}
.classSpanDisplayQueTxt{		/* css code for display question and their answer on starttest.php page */
	font-size: 14px;
	display: inline-table;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 20px;
}
.classSpanDisplayOp{
	display: inline-table;
	vertical-align: middle;
	margin-top: 5px;
}
.classSpanDisplayAnsTA{
	margin-top: 10px;
}
.classSpanDiaplayMarks{
	font-size: 12px;
	margin-left: 20px;
	vertical-align: middle;
}								/* end of question display css code */
.classDivDisplayAttemptTest{
	margin-left: 150px;
	margin-top: 50px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #C0C0C0;
	max-width: 500px;
}
.classDivTestTxt{
	padding: 10px;
	font-size: 16px;
	line-height: 30px;
	
}
.classForgPass a{
	color: #000000;
	margin-left: 2px;
	text-decoration: none;
}
.classForgPass{
	color: #000000;
	margin-left: 2px;
	margin-top: -10px;
}
.classForgtTxt{
	margin-top: 20px;
}
.classDivMsgOnForgPass{
	margin-left: 50px;
	margin-top: -20px;
	color: green;
	font-size: 14px;
}
.classDisplayExcelFileUpload{
	margin-left: 150px;
	margin-top: 70px;
	margin-bottom: 20px;
}
.classDivDownloadDemo{
	margin-left: 550px;
	margin-top: 0px;
	z-index: 300px;
	margin-top: -90px;
	font-size: 16px;
	line-height: 30px;
}
.classDivTstSelectBox{
	margin-left: 450px;
	margin-top: -70px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
.classSpanWidthForDownloadText{
	width: 180px;
	text-align: center;
	padding: 3px;
	font-size: 14px;
}
.classDivDispUserAllotTest{
	margin-top: 20px;
	width: 96%;
	margin: 0 auto;
}
.classDivTstSubmitAllot{
	margin-left: 900px;
	margin-top: -60px;
	margin-bottom: 20px;
}
.classAllotTstInputSelect{
	max-width: 250px;
	height: 30px;
	padding: 3px;
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classStateInputSelect{
	width: 265px;
	height: 30px;
	padding: 3px;
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classUserAddressDesc{
	width:700px;
	display: inline-table;
}
.classPreInfo{
	width: 200px;
	display: inline-table;
}
.classScrollDesc{
	max-width: 200px;
	height: 20px;
	overflow: hidden;
}
classTestDescTextArea{
	max-width: 200px;
	height: 10px;
	padding: 3px;
	margin-bottom: 0px;
	resize:none;
}
.classTestNameScroll{
	max-width: 130px;
	min-width: 130px;
	height: 20px;
	overflow: hidden;
	padding: 0 auto;
	margin: 0 auto;
}
.classTestNameScrollUser{
	max-width: 200px;
	min-width: 130px;
	max-height: 20px;
	overflow: hidden;
	margin: 0 auto;
}
.classScrollDescUser{
	max-width: 500px;
	height: 20px;
	padding: 3px;
	margin: 0 auto;
	overflow: hidden;
}
.classQuestionAttachment{
	width:500px;
	height: 300px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classRounded_Radius_5{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classDispAttachmentEdit{
	width: 250px;
	height: 120px;
	padding: 3px;
	margin-top: 5px;
}
.classDispQuestionAttachment{
	padding: 5px;
}
.classDivDispUsersAns{
	margin-left: 30px;
	margin-top: 10px;
}
.classDivDisplayUploadProceessImg{
	margin-left: 160px;
}
.classDivClickShow{
	height: 25px;
	font-weight: bold;
	cursor: pointer;
	background-color: #eeeeee;
	padding-top: 10px;
	padding-left: 10px;
	margin: 3px;
}
.classDivClickShow a{
	text-decoration: underline;
}
.classDivClickDisplay{
	margin: 0px 20px 5px 20px;
	font-size: 14px;
	line-height: 20px;
}
.classScrollTestDesc{
	height: 70px;
	overflow: auto;
	padding: 3px;
}
.classDivDisplayOpportunity{
	margin: 20px;
}
.scroll-pane
{
	padding: 5px 0px 5px 10px;
    width: 100%;
    min-height: 40px;
    max-height: 200px;
    overflow: auto;
}
.jspCap
{
	display: block;
	background: #eeeef4;
}
.jspVerticalBar .jspCap
{
	height: 20px;
}
/* end of content */
/*Start css for Add Test Form, */
.classFont_18{
	font-size: 18px;
	display: inline-table;
}
.classSpanResultText{
	width:150px;
	display:inline-table;
	padding:2px;
	line-height: 18px;
	vertical-align:middle;
}
.classDivHorizantalLine{
	height: 1px;
	width: 700px;
	margin-left: 57px;
	background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 68, 204));
	background-repeat: repeat-x;
	background-color: rgb(0, 68, 204);
}
.classDivPReviewResult{
	width: 800px;
	padding: 5px;
	margin: 0px;
	line-height: 25px;
}
.classSpanAddTestDesc{
	width:150px;
	display:inline-table;
	padding:2px;
	vertical-align:middle;
	font-size: 16px;	
}
.classDivDisplayQuestion{
	padding-left: 10px;
}
/* CSS for Showing the Test for Opportunity.
------------------------------------------------------*/
#idFrameTabOppTestIP
{
	width: 90%;
	padding:5px;
	vertical-align:top;
	background-color:#FfFFFA;
	border:1px solid #efefff; 
	font-size: 16px;
	
}
/* CSS for User Atteempted or not Showing the Test for Opportunity.
------------------------------------------------------*/
#idAttemptedTabOppTestIP
{	
	width: 600px;
	padding:5px;
	vertical-align:top;
	background-color:#FfFFFA;	
	font-size: 16px;	
}
/* CSS for Showing Each Test of Opportunity.
------------------------------------------------------*/
.classSpanOppEachTest
{
	height:30px;	
	padding-left: 5px;			
	padding-bottom: 18px;
	margin: 5px;
	vertical-align:middle;	
	border:1px solid #efefff; 
	font-size: 14px;
	overflow: hidden;
	line-height: 12px;
}
.classSpanOppEachTestShowOp{
	height:30px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	margin: 5px;
	vertical-align:middle;	
	border:1px solid #efefff;
	font-size: 14px;
	overflow: hidden;
	line-height: 12px;
}
.classSpanOppEachTestDetailShowOp{
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	margin: 5px;
	vertical-align:middle;	
	border:1px solid #efefff;
	font-size: 14px;
	overflow: hidden;
	line-height: 20px;
}
.classSpanTabCol{			/* css code for span on addcontact.php page */
	display:inline-table;	
	font-size: 16px;	
}
.classSpanTabIP{				/* css code for span on addcontact.php page to hold input box */
	display:inline-table;
	padding:2px;
	font-size: 14px;
	vertical-align:middle;
	width:350px;
}
.classSpanTabLink{				/* css code for span on viewTest.php page to hold link */
	display:inline-table;
	padding:2px;
	font-size: 14px;
	width:270px;
}
.classSpanTabLink a{
	color:#999999;
}
.class_light_black{
	color:#555555;
	width:120px;
}
.class_form_div_quiz{
	margin-left:0px;
	margin-top:20px;
}
.classSpanDisplayQue{
	line-height:20px;
	display: inline-table;
	width:600px; 
	margin-right: 30px;
}
.classDivInputMarkManual{
	vertical-align: middle;
	margin-top: 5px;
}
.classDivAddTestResponceHead{
	clear: both;
	height: 20px;
	padding:10px;
	font-size: 20px;
	color: #ffffff;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #546591;
}

.classDivAddTestResponce{
	min-width:150px;
	margin-left: 50px;
	margin-top: 30px;
	display:inline-table;
	
	font-size: 16px;
	color:#000000;
}
.classDisplayAttemptedTest{
	width: 500px;
}
/* End css for Add Test Form, */
/* footer */
#id_footer_wrapper {
	width: 100%;
	margin: 0 auto;
	height:40px;
	background-color: #eeeeee;
	clear:both;
	position:fixed;
	bottom:0px;
	z-index:2001;
}
#id_footer {
	width: 920px;
	padding: 7px;
	margin: 0 auto;
	color: #515251;
}
#id_footer a{
	text-decoration: none;
	/*color: #7a7a7a;*/
}
.classDivFooterCopyR{
	float:right;
	margin-right: 40px;
}
.section_w180 {
	float: left;
	width: 160px;
	padding: 0 20px 0 0;	
}
.section_w180_content {
	padding: 0 0 0 20px;
}
#id_footer  .footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#id_footer .footer_menu_list li {
	margin: 0 0 5px 0;
	padding: 0px;
}
#id_footer .footer_menu_list li a {
	color: #928b85;
	font-weight: normal;
	text-decoration: none;
}
.classDivHorizBarFooter{
	height: 3px;
	width: 100%;
	margin: 0 auto;
	background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 68, 204));
	background-repeat: repeat-x;
	background-color: rgb(0, 68, 204);
}
.classSpanDispBold{
	font-weight: bold;
}
/* end of footer */
/* css for some specific atribute like; color */
.classGreen{
	color:#33CC66;
	font-size:14px;
}
.classRed{
	color:#FF0000;
	font-size:16px;
}
.classHidden{
	visibility:hidden;
}
/* css for text hidden text box use in addQuestionHTML page.*/
#idDivAddOp{
	width:300px;	
	min-height:300px;
	border:1px solid #EEEEEE;	
	margin-top:32px;
	margin-right: 100px;
	margin-left: auto;
	clear: left;
	float: right;
	z-index: 2;
}
.classDivOptions{
	margin-left:auto;
	margin-right:auto;
	width:93.5%;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:0px;
	border:1px solid #eeeeee;
	height:35px;
	vertical-align: middle;
}
/* Table class for preview quesion use in previewTest.php*/
.classPreviewQuestionTable{
	width:400px;
}
.classSpanSmallWhite{
	width:60px;
	font-size: 14px;
	vertical-align: middle;
}
.classSpanSmallWhite a{
	color:#999999;
	text-decoration: none;
}
.classDisplayMessagesToUser{
	width: 85%;
	padding-top: 3px;
	background-color: #FFE1F0;
	margin:5px 30px 0px 40px; /* margin - top , right , bottom , left */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
	margin-left: 7%;
	margin-right: 7%;
}
.classMsg{
	margin: 0 auto;
	font-size: 14px;
	color:green;
	text-align: center;
	vertical-align: middle;
}
.classLineHeight{
	line-height: 20px;
}
.classAddIcon{
	height:20px;
	width: 20px;	
}
.classAIIcon{
	height:22px;
	width: 25px;	
}
#idDisplayHeading{
	font-size: 18px; 
	color: #000000;
	margin-left:0px; 
	background-color:#F8F8F8;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #C0C0C0;
	margin-bottom:10px;
	margin-top: 20px;
	padding-left:30px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:30px;
	line-height: 30px;
}
#idDisplaySolveQue{
	font-size: 18px; 
	color: #000000;
	margin-left:25px; 
	margin-bottom:10px;
	margin-top: 5px;
	padding-left:30px;
	padding-top:5px;
	padding-bottom:10px;
	padding-right:30px;
	line-height: 30px;
	padding-left: 30px;
	margin-right: 30px;
}
.classRightWrongIcon{
	min-width :50px;
	display:inline-table;
	vertical-align:-5px;
	margin-left:20px;
}
.classDescOnOpportunity{
	display: inline-table;
	width: 120px;
}
.classDescOnOpportunityDesc{
	display: inline-table;
	width: 881px;
	border: 1px solid #efefef;
	padding: 0px 5px 5px 5px;
	line-height: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.classFont16{
	font-size: 16px;
}
.classBold{
	font-weight: bold;
}
.classBlack{
	color:#000000;
}
.classSmall{
	font-size: 10px;
	color:999999;	
}
.classSmallFont{
	font-size: 10px;
	color:#FFFFFF;
	text-decoration: none;
}
.classSmallFontForOpp{
	font-size: 12px;
	color:#9f9f9f;
	text-decoration: none;
	margin-left: 20px;
}
.classSmallFontForOperation{
	font-size: 12px;
	color:#9f9f9f;
	text-decoration: none;
	margin-left: 5px;		
}
.classSmallFont a{
	color:#FFFFFF;
	text-decoration: none;
}
/* Password Strength bar css */
#passwordStrength
{
	height:5px;
	margin-left: 155px;
	margin-top: 13px;
	margin-bottom: 3px;
	
}

#passwordDescription
{
	height:5px;
	margin-left: 155px;
	margin-top: -25px;
	
}
.strength0
{
	width:50px;
	/*background:#cccccc;*/
}

.strength1
{
	width:50px;
	background:#ff0000;
}

.strength2
{
	width:100px;	
	background:#ff5f5f;
}

.strength3
{
	width:120px;
	background:#56e500;
}

.strength4
{
	background:#4dcd00;
	width:150px;
}

.strength5
{
	background:#399800;
	width:180px;
}
/* end of password strength bar css */

.classDTabdWidthSrno{
	width:40px;
	text-align: center;
	vertical-align: middle;
}
.classDTabdWidthTName{
	width:170px;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	padding: 0 auto;
}
.classDTabdWidthTAttempt{
	width:80px;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	padding: 0 auto;
}
.classDTabdWidthSubject{
	width:120px;
	text-align: center;
	vertical-align: middle;
}
.classDTabdWidthDesc{
	width:350px;
	text-align: center;
	vertical-align: middle;
}
.classDTabdWidthCode{
	width:80px;
	text-align: center;
	vertical-align: middle;
}
.classDTabdWidthUserAt{
	width:80px;
	text-align: center;
	vertical-align: middle;
}
.classDTabdWidth6{
	width:50px;
	text-align: center;
	vertical-align: middle;
}
.red{background-color:pink;} 	/* css for user name availability check */
.white{background-color:#FFF;}
.classAvailableText{
	color:green;
}
.classMinFont{
	font-size: 10px;
}
.classMarFont{
	margin-left: 500px;
}
.classNotAvailable{
	color:red;
}
.classNoDecoration a{
	text-decoration: none;
}
/* css code for captcha */
.classCap_status_error{
    color: #bd0808;  
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;              
}
.classCaptchaTxt{
	width:80px;
	height:25px;
	padding: 3px;
	
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classDivCaptcha{
	width:150px;
	position: absolute;
}
.classDivCaptchaInput{
	position: relative;
	width: 90px;
	margin-left: 155px;
}
.classDivCaptchaImage{
	position: relative;
	width: 90px;
	margin-left:255px;
	margin-top: -40px;
	margin-right: 20px;
}
.classCaptchaImageDisp{
	width: 80px;
	height: 28px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classSpanOppEachTestDiv{
	padding: 5px 0px 5px 5px;
}
/* end of captcha css code */
/* css code for menu */
/* Main menu */

#menu
{
	
}

#menu li
{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
	color: #000000
}

#menu a 
{
	float: left;
	height: 25px;
	padding: 0 10px;
	color: #000000;
	text-transform: capitalize;
	font: bold 12px/25px , Helvetica;
	text-decoration: none;
	/*text-shadow: 0 1px 0 #000;*/
}

#menu li:hover > a
{
	color: rgb(1, 134, 186);
}
*html #menu li a:hover /* IE6 */
{
	color: #ffffff;	
}
#menu li:hover > ul
{
	display: block;
}
/* Sub-menu */
#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	
    -moz-border-radius: 5px;
    border-radius: 5px;
   
}

#menu ul ul
{
  top: 0;
  left: 150px;

}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a
{    
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

*html #menu ul a /* IE6 */
{    
	height: 10px;
}

*:first-child+html #menu ul a /* IE7 */
{    
	height: 10px;
}

#menu ul a:hover
{
	color: #ffffff;
    background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}
#menu ul a
{
	color: #ffffff;
}
#menu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
    color: #ffffff;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec; 
    color: #ffffff;
}

#menu ul ul li:first-child a:hover:after
{
    border-right-color: #04acec; 
    border-bottom-color: transparent; 
    color: #ffffff;	
}


#menu ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    color: #ffffff;
}
/* Clear floated elements */
#menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */
/* end of css menu bar code */
/* css for Left Menu use in Opportunity*/
.classSpan250
{
	min-width: 250px;	
	vertical-align: middle;
	display:inline-table;
}
.classOpportunity{
	min-height: 60px;
	margin-left: 80px;	
	width: 700px;
	border-bottom: 1px solid #EEEEEE;
	padding:20px;
	padding-top: 30px;
	padding-bottom: 5px;
	line-height: 30px;
}
.classOpp1
{
	width: 800px;
	min-height: 20px;	
}
.classOpp1 .classOppLeft
{
	display:inline-table;
	min-width: 100px;
	min-height: 20px;

}
.classOpp1 .classOppMiddle
{
	display:inline-table;
	min-width: 600px;
	min-height: 20px;	
}
.classOpp1 .classOppRight
{
	display:inline-table;
	min-width: 50px;
	min-height: 20px;
	float: right;	
}
.classEditOpurnity{
	float: right;
	margin-top: 10px;
}
.classApplyNowIcon{
	width: 100px;
	height: 25px;
}
.classTAOpportunity
{
	min-width: 550px;
	max-width: 550px;
	min-height:250px;
	max-height:250px;	
	padding: 3px;
	
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classTextOpportunity{
	width: 550px;
	height: 20px;
	padding: 3px;
	
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classTADescription
{
	min-width: 550px;
	max-width: 550px;
	min-height: 70px;
	max-height: 90px;
	padding: 3px;
	resize:none;
	
	font-size: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
}
.classLikeAnchor
{
text-decoration:underline;
color:#ff0000;
}
.classLikeAnchor:hover
{
cursor:pointer;
color:#000000;
cursor: link;
}
#idOppTestTable{
	width:600px;
}

.classMsgOnApplyOpp{
	
	padding:2px;
	font-size: 14px;	
	width:650px;
	margin-left: 120px;
	margin-right: auto;
	margin-top: 20px;
	line-height: 20px;
}
.classSpanApplyNow{
	margin-left: 420px;
}
.classDivReadMore{
	float:right;
}
fieldset {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}